<div class="text-center">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{comment}}</p>
        <p>Created by {{user.name}} on {{format_date createdAt}}</p>
       
          <section class="comment-section">
            <h3>Leave a Comment</h3>
            <form class="comment-form" data-id="{{id}}">
                <textarea id="comment-input" placeholder="Write your comment here..." rows="4"></textarea>
                <button type="submit" class="btn btn-primary" >Submit Comment</button>
            </form>
        </section>
      
    </div>
 <script src="../js/comment.js">

 </script>